.emptycart{
    text-align: center;
    font-size: 42px;
    margin-top: 15%;
    color: red;
    margin-bottom: 25%;
    font-weight: bold;
    letter-spacing: 2px;
  
}

.bagdiv{
    float: right;
    margin-right: 10%;
}

.bag{
    color: orange;
    font-size: 58px;
}

.bagdiv b{
    position: relative;
    margin-left: -55%;
    color: rgb(0, 0, 0);   
    font-size: 28px;
    font-weight: bold;
  
    }


.bg{
    background-color: white;
}